* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, *::before, *::after {
  display: inline-block;
}

.title-brown {
  font-family: "Young Serif", serif;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: hsl(14, 45%, 36%);
}

.ul-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.item-of-ul {
  position: relative;
  padding-left: 16px;
}
.item-of-ul::marker {
  color: hsl(332, 51%, 32%);
}

html {
  height: auto;
}

body {
  font-family: "Outfit", sans-serif;
  color: hsl(24, 5%, 18%);
  min-height: 100vh;
}

.wrapper {
  background-color: hsl(30, 54%, 90%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}
@media (max-width: 600px) {
  .wrapper {
    padding: 0px;
  }
}

@media (max-width: 769px) {
  section:not(:first-child) {
    margin: 20px;
  }
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 720px;
}
@media (max-width: 600px) {
  .card {
    padding: 0px;
    border-radius: 0px;
  }
}
.card__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 769px) {
  .card__container {
    gap: 36px;
  }
}
.card__image {
  width: 100%;
  aspect-ratio: 2/1;
  background-image: url("../img/image-omelette.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .card__image {
    border-radius: 0px;
  }
}
.main {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-bottom: -20px;
}
@media (max-width: 769px) {
  .main {
    gap: 18px;
    margin-bottom: -12px;
  }
}
.main__title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 42px;
}
.main__description {
  line-height: 1.5;
}
.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 30px;
  border-radius: 20px;
}
.preparation__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  color: hsl(332, 51%, 32%);
}
.preparation__points {
  padding-left: 24px;
}
.preparation__point span {
  font-weight: 600;
}
.ingredients {
  padding-bottom: 25px;
  margin-bottom: -25px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
@media (max-width: 769px) {
  .ingredients {
    padding-bottom: 18px;
    margin-bottom: -18px;
  }
}
.ingredients__list {
  padding-left: 18px;
}
.instructions {
  padding-bottom: 25px;
  margin-bottom: -25px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
@media (max-width: 769px) {
  .instructions {
    padding-bottom: 18px;
    margin-bottom: -18px;
  }
}
.instructions__list {
  padding-left: 20px;
}
.instructions__item {
  line-height: 24px;
}
.instructions__item::marker {
  font-weight: 700;
}
.instructions__item span {
  font-weight: 600;
}

.nutrition__description {
  margin-bottom: 8px;
}
.nutrition__list {
  display: flex;
  flex-direction: column;
}
.nutrition__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.nutrition__row:last-child {
  border-bottom: none;
  padding: 20px 0 0 0;
}
.nutrition dt {
  padding-left: 32px;
}
.nutrition dd {
  font-weight: 600;
  padding-left: 32px;
  color: hsl(14, 45%, 36%);
}